.form__button {
  width: 50%;
  height: 40px;
  font-size: 14px;
  border: 0;
  margin: 0;
  padding-bottom: 5px;
  cursor: pointer;
  color: white;
  font-family: inherit;
}

.form__button[type="submit"] {
  background-color: #2f80ed;
}

.form__button[type="reset"] {
  background-color: #000000;
}

.form__button:focus {
  outline-color: white;
}
