.form__item {
  margin: 10px 0 10px;
  box-sizing: border-box;
  color: inherit;
  opacity: 0.7;
  font-size: 12px;
  font-family: inherit;
}

.form__item[type="email"] {
  color: black;
}

.form__item[type="comment"] {
  color: black;
}
