.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  overflow:hidden;
  justify-items: flex-start;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
}
