.page {
  min-width: 1100px;

  max-width: 1600px;

  margin: 0 auto;

  font-family:"Arial","Helvetica Neue", sans-serif;



}
/**{border: 1px solid red}*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  overflow:hidden;
  justify-items: flex-start;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;



}
.logo
{
 width: 183px;
 height: 32px;

}
.logo_place_header
{
  background-image: url(../images/logo_place_header.svg);
  top:30px;
  left:64px;
  position:absolute;
  z-index: 2;

}

.header__title{
  width:730px;
  margin-left:64px;
  align-self: center;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 2;
}

.header__subtitle{
  width:388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position:absolute;
  left:64px;
  align-self: flex-end;
  bottom: 30px;
  z-index:2;
  margin:0;



}
.header__link{
  color:#2f80ed;
  text-decoration: none;
}
.header__link:hover{
  color: mediumpurple;
}
.header__main-illustration
{
  width:765px;
  height: 608px;
  align-self: flex-end;
  z-index: 1;
  bottom:0;
  position:absolute;
  right:0;
}
.header__square-pic {

  height: 568px;
  width: 568px;
  top: 64px;
  background-color:#2f80ed;
  position:absolute;
  right:0;
}
.content{
  display: flex;
  flex-direction: column;
}

.description
{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.two-columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 80%;

}
.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:#2f80ed;
  margin:0;
}
.two-columns__main-text{
  width: 80%;
  min-width: 784px;

}


.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin:0 0 30px;
}
.two-columns__paragraph:last-child{
  margin-bottom: 0;
}


.two-columns__span-accent{
  font-weight: bold;
}

.digits
{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin:100px 0 100px;
}
.section-title{
  width:60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0;

}
.section-subtitle
{
  width:60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin:20px 0 0;
}
.table{
  width:1100px;
  padding: 0;
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}
.table__cell{
  width:250px;
  list-style-type: none;
  margin-top: 60px;

}
.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;

}
.table__text
{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;

}


.feynman{
  min-height: 790px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  padding:100px 0 0;
}


.feynman__title{

  width: 648px;
  text-align: center;
  margin: 0;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  z-index: 1;
  align-self: center;



}
.feynman__subtitle{
  align-self: center;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  margin:70px 0 0;


}
.feynman__link{
  color:#2f80ed;
  position: absolute;
  top:50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;

}
.feynman__link:hover{
  color: mediumpurple;
}


.feynman__image
{
  width: 867px;
  height: 637px;
  position: absolute;
  bottom:0;
  left:0;

}


.kaufman{
  background-color: #1f1f1f;
  padding: 90px 0 90px;
  align-items: center;
  overflow: hidden;
  position: relative;
  color:white;
  display: flex;
  flex-direction: column;
}
.section-title_theme_dark
{

z-index:2;

}

.section-subtitle_theme_dark{

  z-index:2;
}




.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  list-style-type: none;
  z-index:2;
}

.kaufman__triangle
{
  z-index: 0;
  background-image: url(../images/kaufman-triangle.svg);
  width:877px;
  height: 877px;
  background-size: cover;
  position: absolute;
  top:0;
  right:-210px;



}
.footer{
  background-color: #1f1f1f;
  min-height:350px;
  display: flex;
  padding: 60px 0 40px;
  color:white;
  box-sizing: border-box;

}
.footer__columns{
  display: flex;
  width:90%;

  padding:0;
  justify-content: space-between;
  margin: 0 auto 0;


}
.footer__column
{
  display: flex;
  flex-direction: column;


}

.footer__column_content_copyright
{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  flex-basis: 711px;
  justify-content: space-between;
}
.footer__author{

  margin: 18px 0 18px;

}
.logo_place_footer
{
  background-image: url(../images/logo_place_footer.svg);
  z-index: 2;
  height: 35px;
  background-repeat: no-repeat;
  padding-left: 1px;


}


.footer__column-heading{

  font-weight: bold;
  line-height: 30px;
  font-size: 18px;
  margin:0;
}
.footer__column-links{
  list-style-type: none;
  padding: 0;
  margin: 20px 0 16px;
  display: flex;
  flex-direction: column;

}
.footer__column-link
{
  text-decoration: none;
  color:white;
  list-style-type: none;
  margin:0;
  padding: 0;
}
.footer__column-link:hover
{
  color: mediumpurple;
}

.footer__column_content_info{

  font-weight:  normal;
  line-height: 30px;
  font-size: 18px;
  list-style-type: none;
}
.footer__column_content_social{
  font-weight:  normal;
  line-height: 30px;
  font-size: 18px;
  list-style-type: none;
}


.footer__social-icon{

  width:16px;
  height: 16px;
  margin-right: 10px;
}
.footer__list-item{
  display: flex;
  margin:0;
  padding: 0;
  list-style-type: none;
}



